@charset "utf-8";
/* CSS Document */

/*Background*/
body{
	background:#ffffff;
	margin-right:200px;
	background-color:#97DDFF
	

}
/* Images*/
img{
	border-radius: 8px;
	
	
	
}
/*Text styling*/
h1{
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: 200%;
	text-align: center;
	text-decoration: underline;
	
}

h2 {
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	font-size: 200%;
	text-align: center;
	text-decoration: underline;
}
	
p{
	font-style: normal;
	font-variant: normal;
	font-size: 125%;
	text-align: justify;
	text-align:center;
	background-color:lightgray;
	width:75%;
	border:5px solid #3399ff;
	border-radius:5px;
	padding:7px;
	margin:7px;
	textalign: center;
	paragraph-align:center;
	
}
	
/*links styling*/
a:link, a:visited {
	
	font-size:125%;
	background-color: #3399ff;
	color: white;
	padding: 5px 10px;
	text-align:centre;
	text-decoration: none;
	display: inline block;
	border-radius: 5px;
	border: 2px solid #000000;
}
a:hover, a:active{
	background-color: #4985FF;
		

}

input[type=text], select{
	width:100%;
	padding:12px, 20px;
	margin:8px 0;
	display:inline-block;
	border 1px solid #ccc;
	border-radius:4px;
	box-sizing: border-box;
	
}
input[type=submit]:hover{
	background-color:##3399ff;
}


div{
	border-radius:5px;
	background-color:#f2f2f2;
	padding:20px;
}



